<div class="icon_head">
  <img (click)="active_type = 0" [ngClass]="{active:active_type==0,nonactive:active_type!=null&&active_type!=0}" src="/assets/img/propeller_icon_gray-min.png">
  <img (click)="active_type = 1" [ngClass]="{active:active_type==1,nonactive:active_type!=null&&active_type!=1}" src="/assets/img/icon_vodoprovod-min.png">
  <img (click)="active_type = 2" [ngClass]="{active:active_type==2,nonactive:active_type!=null&&active_type!=2}" src="/assets/img/icon_electric.png">
  <img (click)="active_type = 3" [ngClass]="{active:active_type==3,nonactive:active_type!=null&&active_type!=3}" src="/assets/img/icon_oborudovanie.png">

</div>

<div class="icon_head" *ngIf="active_type==0">
  <div >
    <h3>Выбор вида сечения короба</h3>
    <img (click)="active_type_3 = 0" [ngClass]="{active:active_type_3==0,nonactive:active_type_3!=null&&active_type_3!=0}" src="/assets/img/v_pryam.jpg">
    <img (click)="active_type_3 = 1" [ngClass]="{active:active_type_3==1,nonactive:active_type_3!=null&&active_type_3!=1}" src="/assets/img/v_krug.jpg">
  </div>
  <div *ngIf="active_type_3!=null">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Толщина листа</mat-label>
        <mat-select   [(value)]="form_type_0.depthPlate">
          <mat-option *ngFor="let p of depthPlate" [value]="p">
            {{p}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="active_type_3==1">
      <mat-form-field class="example-full-width">
        <mat-label>Диаметр, мм</mat-label>
        <input  type="number" [formControl]="rateControl_wPlate" matInput [(ngModel)]="form_type_0.diametr"  placeholder="от 50 до 2000 мм">
        <mat-error *ngIf="rateControl_diametr.hasError('max') && !rateControl_diametr.hasError('min')">
          введите значение в диапазоне от 50 до 2000
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="active_type_3==0">
      <mat-form-field class="example-full-width">
        <mat-label>Ширина короба, мм</mat-label>
        <input  type="number" [formControl]="rateControl_wPlate" matInput [(ngModel)]="form_type_0.wPlate"  placeholder="от 50 до 2000 мм">
        <mat-error *ngIf="rateControl_wPlate.hasError('max') && !rateControl_wPlate.hasError('min')">
          введите значение в диапазоне от 50 до 2000
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="active_type_3==0">
      <mat-form-field class="example-full-width">
        <mat-label>Высота короба, мм</mat-label>
        <input  type="number" [formControl]="rateControl_hPlate" matInput [(ngModel)]="form_type_0.hPlate"  placeholder="от 50 до 2000 мм">
        <mat-error *ngIf="rateControl_hPlate.hasError('max') && !rateControl_hPlate.hasError('min')">
          введите значение в диапазоне от 50 до 2000
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Длина участка воздуховода, м</mat-label>
        <input  type="number" [formControl]="rateControl_lPlate" matInput [(ngModel)]="form_type_0.lPlate"  placeholder="">
        <mat-error *ngIf="rateControl_lPlate.hasError('max') && !rateControl_lPlate.hasError('min')">
          некорректное значение
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Количество крепежных узлов, шт</mat-label>
        <input  type="number" [formControl]="rateControl_countS" matInput [(ngModel)]="form_type_0.countS"  placeholder="">
        <mat-error *ngIf="rateControl_countS.hasError('max') && !rateControl_countS.hasError('min')">
          некорректное значение
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Расстояние до потолка, м</mat-label>
        <input  type="number" [formControl]="rateControl_outputH" matInput [(ngModel)]="form_type_0.outputH"   placeholder="">
        <mat-error *ngIf="rateControl_outputH.hasError('max') && !rateControl_outputH.hasError('min')">
          некорректное значение
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-slide-toggle (change)="setValueIs(form_type_0.isHeater,$event)">Наличие утеплителя</mat-slide-toggle>
      <mat-slide-toggle (change)="setValueIs(form_type_0.isVibration,$event)">Наличие виброизоляции</mat-slide-toggle>
    </div>
  </div>
</div>
<div  id="canvas1"></div>
