<div class="icon_head">
  <img (click)="active_type = 0" [ngClass]="{active:active_type==0,nonactive:active_type!=null&&active_type!=0}" src="/assets/img/propeller_icon_gray-min.png">
  <img (click)="active_type = 1" [ngClass]="{active:active_type==1,nonactive:active_type!=null&&active_type!=1}" src="/assets/img/icon_vodoprovod-min.png">
  <img (click)="active_type = 2" [ngClass]="{active:active_type==2,nonactive:active_type!=null&&active_type!=2}" src="/assets/img/icon_electric.png">
  <img (click)="active_type = 3" [ngClass]="{active:active_type==3,nonactive:active_type!=null&&active_type!=3}" src="/assets/img/icon_oborudovanie.png">

</div>
<app-type0 *ngIf="active_type == 0"></app-type0>
<app-type1 *ngIf="active_type == 1"></app-type1>

<div  id="canvas1" style="display: none"></div>
