/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; margin: 30px}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon_head img{
  width: 70px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  cursor: pointer;

}
.icon_head .nonactive{
  opacity: 0.5;
}
.icon_head img:hover{
  opacity: 1;
  border: 1px solid #9e9e9e;
}
.icon_head .active{
  border: 1px solid red;
  opacity: 1;
}

