/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; margin: 30px}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon_head img{
  width: 70px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  cursor: pointer;

}
.icon_head .nonactive{
  opacity: 0.5;
}
.icon_head img:hover{
  opacity: 1;
  border: 1px solid #e7c752;
}
.icon_head .active{
  border: 1px solid red;
  opacity: 1;
}
.mat-form-field{
  margin: 5px;
}
.flex-container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flex-container1{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
